<a href="https://colab.research.google.com/github/Yeyeong99/Aiffel/blob/main/20220103video_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 실습

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('./vgsales.csv')
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [ ]:
# 전체 데이터 건수
print('전체 데이터 건수:', len(df))

전체 데이터 건수: 16598

In [ ]:
df.count()

Rank            16598
Name            16598
Platform        16598
Year            16327
Genre           16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

In [ ]:
print('컬럼 별 결측치 개수')
len(df)-df.count()

컬럼 별 결측치 개수

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [ ]:
# 결측치가 포함된 행
df.isnull().any(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Length: 16598, dtype: bool

In [ ]:
# 결측치의 수
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [ ]:
# 결측치가 아닌 수
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [ ]:
df_without_null = df[df.isnull().any(axis=1)==False]
df[df.isnull().any(axis=1)]

        Rank                             Name  ... Other_Sales  Global_Sales
179      180                  Madden NFL 2004  ...        0.71          5.23
377      378                 FIFA Soccer 2004  ...        0.51          3.49
431      432       LEGO Batman: The Videogame  ...        0.29          3.17
470      471       wwe Smackdown vs. Raw 2006  ...        0.41          3.00
607      608                   Space Invaders  ...        0.03          2.53
...      ...                              ...  ...         ...           ...
16427  16430                     Virtua Quest  ...        0.00          0.01
16493  16496                       The Smurfs  ...        0.00          0.01
16494  16497  Legends of Oz: Dorothy's Return  ...        0.00          0.01
16543  16546           Driving Simulator 2011  ...        0.00          0.01
16553  16556                   Bound By Flame  ...        0.00          0.01

[307 rows x 11 columns]

In [ ]:
df_dropna = df.dropna()
df_dropna

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16291 rows x 11 columns]

In [ ]:
df_dropna.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [ ]:
df_dropna[df_dropna.duplicated()]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [ ]:
# 가격 구간 나누기
ctg = pd.cut(df_dropna['EU_Sales'], bins=5)
ctg

0         (23.216, 29.02]
1         (-0.029, 5.804]
2        (11.608, 17.412]
3         (5.804, 11.608]
4         (5.804, 11.608]
               ...
16593     (-0.029, 5.804]
16594     (-0.029, 5.804]
16595     (-0.029, 5.804]
16596     (-0.029, 5.804]
16597     (-0.029, 5.804]
Name: EU_Sales, Length: 16291, dtype: category
Categories (5, interval[float64]): [(-0.029, 5.804] < (5.804, 11.608] < (11.608, 17.412] <
                                    (17.412, 23.216] < (23.216, 29.02]]

In [ ]:
# 나눈 구간으로 데이터 교체
df_chEU = df_dropna
df_chEU['EU_Sales'] = ctg
df_chEU

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16291 rows x 11 columns]